[submodule "SDL_image/src/main/cpp/SDL_image"]
	path = SDL_image/src/main/cpp/SDL_image
	url = git@github.com:SDL-mirror/SDL_image.git
[submodule "SDL_mixer/src/main/cpp/SDL_mixer"]
	path = SDL_mixer/src/main/cpp/SDL_mixer
	url = git@github.com:SDL-mirror/SDL_mixer.git
[submodule "SDL_net/src/main/cpp/SDL_net"]
	path = SDL_net/src/main/cpp/SDL_net
	url = git@github.com:SDL-mirror/SDL_net.git
[submodule "SDL_ttf/src/main/cpp/SDL_ttf"]
	path = SDL_ttf/src/main/cpp/SDL_ttf
	url = git@github.com:daniele-rapagnani/SDL_ttf.git
[submodule "app/src/main/cpp/alephone"]
	path = app/src/main/cpp/alephone
	url = git@github.com:daniele-rapagnani/alephone.git
[submodule "app/src/marathon/assets"]
	path = app/src/marathon/assets
	url = git@github.com:Aleph-One-Marathon/data-marathon.git
[submodule "app/src/marathon2/assets"]
	path = app/src/marathon2/assets
	url = git@github.com:Aleph-One-Marathon/data-marathon-2.git
[submodule "app/src/marathonInfinity/assets"]
	path = app/src/marathonInfinity/assets
	url = https://github.com/Aleph-One-Marathon/data-marathon-infinity
[submodule "SDL2/src/main/cpp/SDL"]
	path = SDL2/src/main/cpp/SDL
	url = git@github.com:libsdl-org/SDL.git
